:root{
  --main-color :  #1E633F;
  --white-color:   #FEFEFE;
  --text-color: #C3C4C7;
}


.Navbar{
  background-color: var(--main-color);
  height: 45px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
}

.white-btn{
  border-radius: 15px;
  border-color: var(--main-color);
  border: 1px solid;
  color: var(--main-color);
  padding: 3px 20px;

}
.green-btn{
  border-radius: 15px;
  background-color: var(--main-color);
  border: 1px solid;
  color: var(--white-color);
  padding: 3px 20px;
}
.logo-text{
  color: var(--white-color);
  font-weight: 600;
  font-size: 18px;
}

.header-text{
  color: var(--white-color);
  font-size: 14px;
}

.upper-part{
  box-shadow: 5px 5px 5px white;
  padding: 0px 60px 10px 60px;

}

.order-primary-detail{
  border: 2px solid #F7F7F7;
  border-radius: 5px;
  background-color: var(--white-color);
  padding: 10px 20px;
}

.order-primary-detail > div:not(:last-child){
  border-right: 1px solid #BBBBBB;
}

.order-primary-main-text{
  color: #BBBBBB;
  font-size: 16px;
  font-weight: 600;
}

.order-primary-sub-text{
  color: #6E7078;
  font-size: 16px;
  font-weight: 600;
}


.order-sec-detail{
  border: 2px solid #F7F7F7;
  border-radius: 5px;
  background-color: var(--white-color);
  padding: 10px 20px;
}

.order-list-head{
  display: flex;
  border: 2px solid #F7F7F7;
  padding: 5px;
  margin-top: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.order-list-head > div{
  color: #BBBBBB;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.order-col{
  border-bottom: 1px solid #BBBBBB;
  min-height: 80px;
  align-items: center;
  
  font-size: 16px;
  
}
.order-col > div{
  text-align: center;
}

.edit-main-text{
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;      
  overflow: hidden;       
  text-overflow: ellipsis;
}

.input-tag{
  width: 90px;
  height: 35px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;

}

.reason-text{
  border: 1px solid grey;
  border-radius: 15px;
  padding: 5px
}

.cancel{
  color: #1E633F;
}

